name: autofix.ci

on:
  push:
  pull_request:

jobs:
  autofix:
    name: Auto Fix
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cargo Format
        uses: yonasBSD/toolkit@main
        with:
          run: |
            cargo format

      - name: Autofix
        uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
