name: Licenses

on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:

  deny-check:
    name: License check
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.deps.dev:443
            api.github.com:443
            api.osv.dev:443
            api.scorecard.dev:443
            fulcio.sigstore.dev:443
            github.com:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            www.bestpractices.dev:443
            objects.githubusercontent.com:443
            static.rust-lang.org:443
            static.crates.io:443
            index.crates.io:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # nightly
        with:
          toolchain: nightly

      - name: Run cargo-deny
        uses: yonasBSD/toolkit@1938a129c53431ea31c70b0373f60b6cff4999b4 # v0.1.0
        with:
          run: |
            cargo-deny check licenses bans
            echo "::group::List of licenses"
            cargo-license --authors --do-not-bundle
            echo "::endgroup::"
            echo ### Licenses > $GITHUB_STEP_SUMMARY
            cargo-license --authors --do-not-bundle >> $GITHUB_STEP_SUMMARY
